{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Здравствуй, {{ name }}!</h2>
    <hr color="#ffe500">
    <h3>Твой e-mail: {{ email }}!</h3>
    <p>
        <a href="{{ url_for('logout_cookie') }}">
            <button type = "submit">
                Выйти
            </button>
        </a>
    </p>
{% endblock %}

{% block enter_2 %}
    <a href="{{ url_for('hw_cookie') }}">
        <button type = "submit">
            Назад
        </button>
    </a>
{% endblock %}