{% extends 'hw_base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
<h1>Данная страница пока в разработке</h1>
<h3>Поэтому пока анекдот:</h3>
<p>
    Мать собирает портфель сына в школу.</br>
    - Вот, я тебе тут положила хлеб, колбасу и килограмм ржавых гвоздей.</br>
    - Зачем?</br>
    - Н как "зачем"? Вот ты в школе проголодаешься, возьмешь хлеб, положишь на него колбасу и поешь.</br>
    - А гвозди?</br>
    - Да вот же, положила!</br>
</p>
<h3>Спасибо, что воспользовались услугами моего сайта ;-)</h3>
    </div>
{% endblock %}

{% block advertisement %}
        <h2>Про рекламу не забываем</h2>
        <img src="/static/image/home.png" width="250" height="100">
{% endblock %}