{% extends 'hw_base.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content %}
    <div class="row">
        <h1 class="col-12 col-md-6 display-2">Привет!</h1>
        <h3>Вы находитесь в магазине одежды №1</h3>
        <hr color="#ffe500">
        <p><font color = "#947b00">
            У нас вы найдете разнообразный выбор одежды:
            <li margin-left: 20px>Верхняя одежда</li>
            <li margin-left: 20px>Футболки и майки</li>
            <li margin-left: 20px>Брюки и джинсы</li>
            <li margin-left: 20px>Юбки и платья</li>
            <li margin-left: 20px>Рубашки</li>
            <li margin-left: 20px>Одежда для спорта</li>
            <li margin-left: 20px>Свитеры, толстовки, водолазки</li>
            <li margin-left: 20px>Пиджаки, костюмы, жакеты</li>
            <li margin-left: 20px>Нижнее белье</li>
            <li margin-left: 20px>Пляжная одежда</li>
            </font>
        </p>
        <p>
            А еще огромный выбор обуви и аксессуаров!
        </p>
        <h2>Не мешкай! Переходи в каталог!</h2>
    </div>
{% endblock %}

{% block advertisement %}
        <h2>Рекламная пауза для главной страницы</h2>
        <img src="/static/image/home.png" width="250" height="100">
{% endblock %}